<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>

<!-- Required meta tags -->
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title th:text="${titulo}"></title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>

	<div class="alert alert-success">
		<span
			th:text="'Tiempo transcurrido: ' +${tiempoTranscurrido}+ ' en milisegundos'"></span>
	</div>

	<h3 th:text="${titulo}"></h3>
	<div class="container">
		<form th:action="@{/form}" th:object="${usuario}" method="post">

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="habilitar">Habilitar</label>
				<div class="row col-sm-3">
					<input type="checkbox" id="habilitar" th:field="*{habilitar}"
						class="form-control col-sm-1">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Género</label>
				<!-- Array genero -->
				<div th:each="genero_for: ${genero}" class="row col-sm-2">
					<!-- campo genero -->
					<input type="radio" th:field="*{genero}" th:value="${genero_for}"
						class="form-control col-sm-2"> <label
						th:for="${#ids.prev('genero')}" th:text="${genero_for}"
						class="col-form-label col-sm-2"></label>
				</div>
				<div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"
					class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2" for="pais">Paìs</label>
				<div class="col-sm-4">
					<select id="pais" th:field="*{pais}" class="form-control">
						<option value="">-- seleccionar --</option>
						<!-- <option th:each="pais: ${paisesMap.entrySet()}" th:text="${pais.value}" th:value="${pais.key}"></option> -->
						<option th:each="pais: ${listaPaises}" th:text="${pais.nombre}"
							th:value="${pais.id}"></option>
					</select>
				</div>
				<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"
					class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Roles</label>
				<!-- <div th:each="role: ${listaRolesMap.entrySet()}"> -->
				<div th:each="role: ${listaRoles}" class="row col-sm-2">
					<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
						th:checked="${#lists.contains(usuario.roles, role)}"
						class="form-control col-sm-2"> <label
						th:for="${#ids.prev('roles')}" th:text="${role.nombre}"
						class="col-form-label col-sm-2"></label>
				</div>
				<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
					class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="identificador" class="col-form-label col-sm-2">Identificador</label>
				<div class="col-sm-4">
					<input type="text" id="identificador" th:field="*{identificador}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('identificador')}"
					th:errors="*{identificador}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="nombre" class="col-form-label col-sm-2">Nombre</label>
				<div class="col-sm-4">
					<input type="text" id="nombre" th:field="*{nombre}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
					class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="apellido" class="col-form-label col-sm-2">Apellido</label>
				<div class="col-sm-4">
					<input type="text" id="apellido" th:field="*{apellido}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('apellido')}"
					th:errors="*{apellido}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<!-- En el for va el id, esto es para mapear el elemento o sea al dar un clic que se posisione en el campo-->
				<label for="username" class="col-form-label col-sm-2">Username</label>
				<div class="col-sm-4">
					<input type="text" id="username" th:field="*{username}"
						class="form-control">
					<!-- th:value="${usuario.username}" -->
				</div>
				<!-- th:if="${error != null && error.containsKey('username')}" -->
				<div th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="password" class="col-form-label col-sm-2">Password</label>
				<div class="col-sm-4">
					<input type="password" th:field="*{password}" id="password"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="email" class="col-form-label col-sm-2">email</label>
				<div class="col-sm-4">
					<input type="text" id="email" th:field="*{email}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
					class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="cuenta" class="col-form-label col-sm-2">Cuenta</label>
				<div class="col-sm-4">
					<input type="number" id="cuenta" th:field="*{cuenta}"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"
					class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="fechaNacimiento" class="col-form-label col-sm-2">Fecha
					nacimiento</label>
				<div class="col-sm-4">
					<input type="date" id="fechaNacimiento"
						th:field="*{fechaNacimiento}" placeholder="yyyy-MM-dd"
						class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('fechaNacimiento')}"
					th:errors="*{fechaNacimiento}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<div class="col-sm-4">
					<input type="submit" value="enviar" class="btn btn-primary">
				</div>
			</div>
			<input type="hidden" th:field="*{valorSecreto}">
		</form>
	</div>
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>-->
</body>
</html>